<div class="container">
  <div class="card card-outline card-primary">
    <button type="button" class="btn btn-primary" *ngIf="mostrarBotonTerminos" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >
      <i class="fa-solid fa-scale-balanced"></i>Terminos y Condiciones
    </button>

    <div *ngIf="bandera === true">
      <div class="card-header text-left">
        <h3>LEGAJO</h3>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <label class="fecha">Fecha</label>
            <label>{{ fecha }}</label>
          </div>
          <div>
            <button class="btn btn-success" id="aumentar" (click)="aumentar()"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
        <table class="table table-success table-striped" id="tabla">
          <thead>
            <tr>
              <th scope="col">Tipo Documento</th>
              <th scope="col">Archivo</th>
            </tr>
          </thead>
          <tbody #cuerpo>
            <tr>
              <td>
                <select class="form-control form-select-sm" aria-label="Small select example">
                  <option selected>Tipo de Documento</option>
                  <option value="1">Resolucion</option>
                  <option value="2">Titulo</option>
                  <option value="3">Diplomas</option>
                  <option value="4">Maestria</option>
                </select>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <input class="form-control file" id="formFileLg" type="file">  <button type="button" class="btn btn-warning"><i class="fa-solid fa-trash"></i></button>
                </div>
              </td>
              <td>
                <input type="text" placeholder="Agregar URL" class="form-control">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

<!-- Modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>
            Los documentos legales son aquellos archivos que establecen derechos y obligaciones para las partes involucradas, y sirven para regular y gestionar situaciones de
            carácter legal, tanto personales como empresariales.

            En el contexto de las empresas, los documentos legales regulan las relaciones entre la organización y sus trabajadores, clientes, proveedores, accionistas,
            entre otros. Estos documentos pueden incluir contratos de trabajo, acuerdos comerciales, políticas de privacidad, estatutos de la empresa, entre otros.
            Su objetivo es establecer derechos y obligaciones claras y específicas en una transacción o situación jurídica determinada, proteger los intereses de la empresa
            y garantizar la conformidad con las leyes y regulaciones aplicables

          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="validar(1,1)" data-dismiss="modal" ng-hide="">Aceptar</button>
      </div>
    </div>
  </div>
</div>
